/* iOS PWA FULLSCREEN FIXES */
html, body {
    height: 100%;
    background: #0b1220;
}

body {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

input, textarea, select, button {
    font-size: 16px !important; /* fix zoom on focus */
}

/* iPhone notch handling */
@supports (padding: max(0px)) {
    body {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }
}
